:root {
  --red: hsl(4, 100%, 67%);
  --blue-800: hsl(234, 29%, 20%);
  --blue-700: hsl(235, 18%, 26%);
  --grey: hsl(0, 0%, 58%);
  --white: hsl(0, 0%, 100%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var(--blue-800);
}
h2 {
  font-size: 2.5em;
}
p {
  font-size: 1em;
}
.letter-img {
  width: 100vw;
}
.letter-img img {
  width: 100%;
}
.dsk-img {
  display: none;
}
.letter-details {
  padding: 2.5em 1.5em;
}
.h2-tag {
  margin: 1.5em 0;
}
.list {
  display: flex;
  margin: 1em 0;
}
.list p {
  margin: 0 0 0 0.8em;
}
form {
  width: 100%;
}
input,
button {
  width: 100%;
  outline: none;
  padding: 1.3em;
  border-radius: 0.5em;
  cursor: pointer;
  font-weight: 700;
  font-size: 1em;
}
input {
  margin: 0.5em 0 1.8em 0;
  border: 0.14em solid var(--grey);
}
button {
  border: none;
  background: var(--blue-700);
  color: var(--white);
  transition: 0.25s;
}
.form-labels {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  font-weight: 700;
  margin: 2.5em 0 0 0;
}
#errorMessage {
  color: var(--red);
}

.incorrect {
  background: hsla(4, 100%, 67%, 0.2);
  border-color: var(--red);
  color: var(--red);
}
.incorrect::placeholder {
  color: var(--red);
}
.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.success-message {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white);
  padding: 3em;
  border-radius: 1em;
  width: min(22em, 100%);
}
.success-message h2 {
  margin: 0.5em 0;
}
.success-message p {
  margin-bottom: 2em;
}
.success-message img {
  width: 3em;
}
#checkedEmail {
  font-weight: 700;
}

@media (min-width: 700px) {
  p {
    font-size: 0.9em;
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: var(--blue-700);
  }
  .letter-img {
    width: unset;
  }
  .newsletter {
    background: var(--white);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    border-radius: 1.5em;
    padding: 1.2em;
    width: 48em;
  }
  form {
    width: unset;
  }
  .mobile-img {
    display: none;
  }
  .dsk-img {
    display: block;
    height: 100%;
  }
  .letter-details {
    padding: unset;
    margin: 0 2em;
  }
  .list {
    display: flex;
    margin: 0.6em 0;
  }
  button:hover {
    background: linear-gradient(
      to right,
      var(--red),
      var(--red),
      var(--red),
      rgb(255, 115, 0)
    );
    box-shadow: 0 0.8em 0.8em hsla(4, 100%, 67%, 0.2);
  }
}
